<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper deep-purple  darken-1">
                <a href="#" class="brand-logo">Condominios</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/">Home</a></li>
                        <li><a href="/faleConosco">Fale Conosco</a></li>
                        <li><a href="/cadastrarCondominio" class="waves-effect waves-light btn-small"><i class="material-icons left">add_box</i>Cadastrar Condominio</a></li>
                    </ul>
            </div>
        </nav>
    </header>

    <table class="container">

        <thead>
            <tr>
                <th>Nome</th>
                <th>Rua</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Editar</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:include="mensagemValidacao"></th:block>
            <tr th:each="condominio : ${condominios}">

                <td><a th:href="${(#mvc.url('CC#detalhesCondominio').arg(0, condominio.codigo)).build()}"><span th:text="${condominio.nome}"></span></a></td>
                <td><span th:text="${condominio.rua}"></span></td>
                <td><span th:text="${condominio.numero}"></span></td>
                <td><span th:text="${condominio.bairro}"></span></td>
                <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('CC#updateForm').arg(0,condominio.codigo)).build()}"><i class="material-icons left">system_update_alt</i></a></td>
                <td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('CC#deleteCondominio').arg(0,condominio.codigo)).build()}"><i class="material-icons left">delete</i></a></td>
            </tr>
        </tbody>
    </table>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>